[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Sample NodeJS project using MongoDB and EJS to learn DevOps.
[access "refs/*"]
	owner = group user/kishan kumar (kishan132)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kishan kumar (kishan132)
	label-Verified = -1..+1 group user/kishan kumar (kishan132)
	push = group user/kishan kumar (kishan132)
	read = group user/kishan kumar (kishan132)
	rebase = group user/kishan kumar (kishan132)
	removeReviewer = group user/kishan kumar (kishan132)
	submit = group user/kishan kumar (kishan132)
[access "refs/heads/*"]
	create = group user/kishan kumar (kishan132)
	push = +force group user/kishan kumar (kishan132)
	pushMerge = group user/kishan kumar (kishan132)
	read = group user/kishan kumar (kishan132)
[access "refs/tags/*"]
	push = group user/kishan kumar (kishan132)
	push = +force group user/kishan kumar (kishan132)
